.profile-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 846px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    border: 1px solid #E7E0EC;
}

.profile-sidebar {
    max-width: 302px;
    padding: 24px 40px;
    background: #fef7ff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #E7E0EC;
    width: 100%;
    height: auto;
}

/* Sidebar Details */
.profile-details {
    width: 100%;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.company-logo {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
}

.profile-details h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 2px;
    font-family: "Roboto", sans-serif;
    color: #1D1B20;

}

.profile-details p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}

.role {
    font-weight: 500;
    margin-bottom: 20px;
    color: #49454F;
}

.company {
    margin-bottom: 16px;
    color: #49454F;
    font-weight: 500;
}

.location {
    color: #49454F;
    font-weight: 500;
    margin-bottom: 20px;
}

.company .company-logos,
.location-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.online-status {
    color: #4CAF50;
    font-weight: 500;
    margin-top: 12px;
}

.profile-main {
    flex-grow: 1;
    max-width: 530px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.chat-box {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.message.received {
    align-items: flex-start;
}

.message-bubble {
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    border-radius: 12px;
    background-color: #F7F2FA;
    color: #000000;
    width: 496px;
    word-wrap: break-word;
}

.sent-bubble {
    background-color: #9E65FB;
    color: white;
    border-radius: 20px 8px 20px 20px;
}

.received-bubble {
    background-color: #E6E6E6;
    color: #333333;
    border-radius: 8px 20px 20px 20px;
}

.bold-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    color: #49454F;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.sender-profile {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.sender-profile-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.sender-name {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.message-input-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 16px;
}


textarea::placeholder {
    color: #A1A1AA;
    font-style: normal;
    font-size: 14px;
}

.message-input::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

.message-input::-webkit-scrollbar-thumb {
    background-color: rgba(101, 85, 143, 0.16);
    border-radius: 4px;
    margin-right: 8px;
}


.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: rgba(101, 85, 143, 0.16);
    border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(101, 85, 143, 0.16);
}

.btn-assistant {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.btn-assistant span {
    color: #65558F;
    font-size: 14px;
    font-weight: 500;
}

.claim-profile-btn {
    background-color: #E8DEF8 !important;
    color: #65558F !important;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    border-radius: 20px !important;
    box-shadow: none !important;
    text-transform: none;
    transition: background-color 0.3s ease;
    text-transform: capitalize !important;
    padding: 0 24px !important
}

.claim-profile-btn:hover,
.auto-generate-btn:hover {
    background-color: #D9D3E7 !important;
}

.message-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-wrapper {
    position: relative;
    max-height: 160px;
    border: 1px solid #e7e0ec;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 10px;
    height: 90px;
    width: 100%;
    max-width: 100%;
}

.message-input {
    overflow-y: auto;
    font-size: 14px;
    resize: none;
    border: none;
    width: 100%;
    height: 85%;
}

.message-buttons {
    display: flex;
    gap: 10px;
}

.send-button {
    background-color: #65558F !important;
    color: white !important;
    border-radius: 20px !important;
    text-transform: none;
    width: 100%;
    margin-top: 10px;
    height: 40px !important;
}

.message-length {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.message-length span {
    font-size: 14px;
    color: #797676;
}

.message-footer {
    margin-top: 16px;
    /* min-height: 200px; */
}

.auto-generate-btn {
    background-color: #E8DEF8 !important;
    color: #4A4459 !important;
    border-radius: 20px !important;
    height: 35px;
    text-transform: capitalize !important;
    padding: 0 12px !important;
    gap: 4px;
    font-size: 12px !important;
    line-height: 16px !important;
    box-shadow: none !important;
}

.auto-generate-btn img.ai-icon {
    width: 18px;
    height: 18px;
}

textarea.message-input:focus {
    outline: 0px solid #79747E;
}

.btn-assistant .assistant-btn {
    background-color: #F7F2FA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    min-width: auto;
}

.assistant-btn .icon {
    color: #65558F;
    font-size: 24px;
}

.claim-profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info-section {
    margin: 0 auto;
}

.info-section p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.info-section .info-icon {
    fill: #7D5260;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.back-home-btn {
    border: 1px solid #79747E !important;
    width: 150px !important;
    height: 40px !important;
    border-radius: 20px !important;
    color: #64558f !important;
    left: 50px;
    /* top: 50px */
}

.share-profile-btn {
    background: none;
    color: #64558f !important;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    right: 50px;
    /* top: 50px; */
}

/* .action-buttons {
    position: absolute !important;
} */

.action-buttons svg {
    margin-right: 5px;
}

.main-container {
    height: 100%;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 35px;
}

button.MuiButtonBase-root {
    text-transform: capitalize !important;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display: inline-flex;
    background-color: #fff;
    font-size: 13px;
    color: #65558F;
    border: 1px solid #65558F;
    border-radius: 20px;
    height: 35px;
    line-height: 30px;
    min-width: 160px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 10px 10px 16px !important;
    font-weight: 500;
}

.dropdown-icon {
    font-size: 10px;
}

.dropdown-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    word-wrap: break-word;
}

.dropdown-content {
    display: block;
    position: absolute;
    top: -180px;
    background-color: #FEF7FF;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px #0000004D;
}

.dropdown-item {
    cursor: pointer;
    padding: 10px !important;
    font-size: 14px !important;
    color: #1D1B20 !important;
    border-bottom: 1px solid #D1CBD6 !important;
}

.dropdown-item:hover {
    background-color: #E8DEF8 !important;
}

.dropdown-item.active {
    background-color: #E8DEF8 !important;
    color: #4A4459;
}

.sent-message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
}

.edit-message {
    color: #8E8D8F !important;
}

hr {
    border: 0.5px solid #E7E0EC !important;
    margin-bottom: 20px !important;
    margin-top: 0px !important;
}

.email-heading h4 {
    font-size: 16px;
    color: #1D1B20;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 500;
}

.email-heading p {
    font-size: 12px;
    color: #1D1B20;
    line-height: 16px;
    font-weight: 400;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}

.or-separator::before,
.or-separator::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #E7E0EC;
}

.or-separator span {
    margin: 0 10px;
    color: #E7E0EC;
}

.email-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.email-input {
    margin-bottom: 10px;
}

.email-continue-btn {
    width: 100%;
}

.google-login-btn {
    border-radius: 100px !important;
    background-color: #65558F !important;
    height: 40px;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    width: 100%;
    margin-bottom: 20px !important;
}

.otp-verification {
    text-align: center;
    margin-top: 20px;
}

.otp-input {
    margin-bottom: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid #79747E;
    color: #65558F;
    text-align: center;
    font-size: 14px;
}

.otp-field {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #49454F;
    border-radius: 5px;
}

.final-step {
    text-align: center;
    margin-top: 20px;
}

.final-step .user-details {
    margin-top: 20px;
}

.final-step .detail {
    margin: 10px 0;
}

.greeting {
    text-align: center;
    margin-top: 20px;
}

.greeting h4 {
    margin-bottom: 10px;
}

.otp-inputs {
    display: flex;
    gap: 8px;
}

.otp-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.change-email {
    color: #65558F;
    vertical-align: baseline;
    font-size: 12px;
    text-decoration: none;
}

.otp-input:focus {
    outline: 1px solid #65558F;
}

.MuiFormControl-root.MuiFormControl-fullWidth {
    margin: 0 !important;
    margin-bottom: 50px !important;
}

img.users-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    background: #Fef7ff;
    padding: 10px 5px;
    border-radius: 999px;
    border: 1px solid #E8DEF8;
}

.user-profile-content h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.user-profile-content p {
    font-size: 12px;
    line-height: 16px;
    color: #1D1B20;
    margin-bottom: 0;
}

.theme-btn-filled {
    height: 40px;
    background-color: #65558F !important;
    border-radius: 100px !important;
    width: 100%;
}

.theme-btn-outlined-gray {
    height: 40px;
    background-color: #fff !important;
    border: 1px solid #79747E !important;
    border-radius: 100px !important;
    width: 100%;
    color: #65558F !important;
}

.confirmation-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

a.handle-links {
    text-decoration: none;
    color: #3377FF;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

a.handle-links svg {
    width: 16px;
}