/* Profile Section */
.profile-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 846px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    border: 1px solid #E7E0EC;
}

.profile-sidebar {
    max-width: 302px;
    padding: 56px 40px 24px 40px;
    background: #fef7ff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #E7E0EC;
    width: 100%;
    height: 100%;
}

/* Sidebar Details */
.profile-details {
    width: 100%;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.company-logo {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
}

.profile-details h2 {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 2px;
    font-family: "Roboto", sans-serif;
    color: #1D1B20;

}

/* .profile-details h2 .verify-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  } */

.profile-details p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}

.role {
    font-weight: 500;
    margin-bottom: 20px;
    color: #49454F;
}

.company {
    margin-bottom: 16px;
    color: #49454F;
    font-weight: 500;
}

.location {
    color: #49454F;
    font-weight: 500;
    margin-bottom: 20px;
}

.company .company-logos,
.location-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.online-status {
    color: #4CAF50;
    font-weight: 500;
    margin-top: 12px;
}

.profile-main {
    flex-grow: 1;
    max-width: 530px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.chat-box {
    max-height: calc(100vh - 160px);
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.message.sent {
    align-items: flex-end;
}

.message.received {
    align-items: flex-start;
}

.message-bubble {
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    border-radius: 12px;
    background-color: #F7F2FA;
    color: #000000;
    width: 496px;
    word-wrap: break-word;
}

.sent-bubble {
    background-color: #9E65FB;
    color: white;
    border-radius: 20px 8px 20px 20px;
}

.received-bubble {
    background-color: #E6E6E6;
    color: #333333;
    border-radius: 8px 20px 20px 20px;
}

.bold-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    color: #49454F;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.sender-profile {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.sender-profile-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.sender-name {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

/* .message-footer {
    display: flex;
    align-items: center;
    gap: 12px;
  } */

.message-input-btns {
    /* position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 16px;
}


textarea::placeholder {
    color: #A1A1AA;
    font-style: normal;
    font-size: 14px;
}

.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #65558F;
    border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #BBBBBB;
}

@media (max-width: 900px) {
    .profile-container {
        flex-direction: column;
        height: auto;
        width: 95%;
    }

    .profile-sidebar {
        width: 100%;
        padding: 40px 20px;
    }

    .profile-main {
        width: 100%;
        padding: 20px;
    }
}

.btn-assistant {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-assistant span {
    color: #65558F;
    font-size: 14px;
    font-weight: 500;
}

.claim-profile-container {
    margin-top: 24px;
}

.claim-profile-btn {
    background-color: #E8DEF8 !important;
    color: #65558F !important;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    border-radius: 20px !important;
    box-shadow: none !important;
    text-transform: none;
    transition: background-color 0.3s ease;
    text-transform: capitalize !important;
    padding: 0 24px !important
}

.claim-profile-btn:hover {
    background-color: #D9D3E7 !important;
}

.message-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.message-input {
    width: 470px;
    height: 90px;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    position: relative;
    max-height: 160px;
    border: 1px solid #e7e0ec;
    margin-bottom: 16px;
}

.message-buttons {
    display: flex;
    gap: 10px;
}

.message-input::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

.message-input::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.message-input::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

.message-input::-webkit-scrollbar-button {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.send-button {
    background-color: #65558F !important;
    color: white !important;
    border-radius: 20px !important;
    text-transform: none;
    width: 100%;
    margin-top: 10px;
    height: 40px !important;
}

.message-length {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.message-length span {
    font-size: 14px;
}

.auto-generate-btn {
    background-color: #E8DEF8 !important;
    color: #000 !important;
    border-radius: 20px !important;
    height: 35px;
    text-transform: capitalize !important;
    padding: 0 12px !important;
    gap: 4px;
    font-size: 12px !important;
    line-height: 16px !important;
    box-shadow: none !important;
}

.auto-generate-btn img.ai-icon {
    width: 18px;
    height: 18px;
}

textarea.message-input:focus {
    outline: 1px solid #79747E;
}

.btn-assistant .assistant-btn {
    background-color: #F7F2FA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    min-width: auto;
}

.assistant-btn .icon {
    color: #65558F;
    font-size: 24px;
}

.custom-select {
    /* width: 200px; */
    height: 32px;
    border-radius: 20px;
    font-size: 12px;
    border: 1px solid #79747E;
    color: #65558F;
    font-weight: 600;
    text-align: center;
    padding: 0px 30px 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-select-input {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 20px;
    font-size: 14px;
}

.select-with-caret {
    position: relative;
    display: flex;
    align-items: center;
}

/* .select-with-caret .custom-select-input {
    padding-left: 10px !important;
} */

.select-with-caret .caret-icon {
    position: absolute;
    right: -25px;
    pointer-events: none;
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Assets/images/icon.svg");
}

.select-with-caret .custom-select-input:focus+.caret-icon,
.select-with-caret .custom-select-input:active+.caret-icon {
    transform: rotate(180deg);
}


.star-icon {
    color: red;
    font-size: 18px;
    margin-right: 5px;
}

.form-select {
    all: unset !important;
}

.info-section {
    width: 820px;
    margin: 0 auto;
}

.info-section p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.info-section .info-icon {
    fill: #7D5260;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.back-home-btn {
    border: 1px solid #79747E !important;
    width: 150px !important;
    height: 40px !important;
    border-radius: 20px !important;
    color: #64558f !important;
    left: 50px;
    /* top: 50px */
}

.share-profile-btn {
    background: none;
    color: #64558f !important;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    right: 50px;
    /* top: 50px; */
}

.action-buttons {
    position: absolute !important;
}

.action-buttons svg {
    margin-right: 5px;
}

.main-container {
    height: 100%;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 45px;
}

.btn-section .info-section {
    left: 0;
    right: 0;
    top: 45px;
}

button.MuiButtonBase-root {
    text-transform: capitalize !important;
}